# sva.
___

### _Summary Valuation Assumptions_

Usage of class ```sva```:
1. initialise with:
    1. path to the sva spreadsheet
    2. sheet_name
        * _'CurrentProduct'_ or _'NewProduct'_
2. Refer to table below for reference hierarchy. Indentation represents a different level within ```sva```. 
    * for example: 
        * to access the _claims_reporting_delay_, ```sva.claims_reporting_delay()``` is called. 
        * to access the _salary_replacement_ratios_ in the dlr_parameters, ```sva.dlr_parameters.salary_replacement_ratio()``` is called.
        * to access the _death_ibnr_ in the stress_margins, ```sva.dlr_parameters.salary_replacement_ratio()``` is called.
___

#### _Table 1_
* [claims_reporting_delay](#claims_reporting_delay)
* [claim_delay_factors](#claims_delay_factors)

#### _Table 2_
* [claims_expense_reserve](#claims_expense_reserve)
* [operating_expense_perc_premium](#operating_expense_perc_premium)
* [budgeted_trustee_expense](#budgeted_trustee_expense)
* [projected_trustee_expense](#projected_trustee_expense)

#### _Table 3_
* [ip_continuance_rates](#ip_continuance_rates)
* [dlr_parameters](#dlr_parameters)
    * [salary_replacement_ratio](#salary_replacement_ratio)
    * [continuing_retirement_benefit](#continuing_retirement_benefit)
    * [assumed_avg_age_at_disability](#assumed_avg_age_at_disability)
    * [payment_ratio](#payment_ratio)
    * [reopened_claims_reserves_loading](#reopened_claims_reserves_loading)
    * [benefit_indexation_month](#benefit_indexation_month)
* [ip_ibnr_adjustment](#ip_ibnr_adjustment)


#### _Table 4_
* [appeals_reserve_assumptions](#appeals_reserve_assumptions)
* [perc_of_appealed_claims_accepted](#perc_of_appealed_claims_accepted)


#### _Table 5_
* [decline_rate](#decline_rate)
* [decline_rate_delay](#decline_rate_delay)
* [simultaneous_ip_tpd_decline](#simultaneous_ip_tpd_decline)


#### _Table 6_
* [expected_loss_ratio_gov](#expected_loss_ratio_gov)
* [expected_loss_ratio_nongov](#expected_loss_ratio_nongov)


#### _Table 7_
* [payment_delay_factors](#payment_delay_factors)
* [payment_delay_factors_discrete](#payment_delay_factors_discrete)



#### _Table 8_
* [average_claim_size](#average_claim_size)
* [acs_ip_linked_tpd](#acs_ip_linked_tpd)
* [acs_by_notification_delay_q](#acs_by_notification_delay_q)
* [perc_si_at_ip_doe](#perc_si_at_ip_doe)
* [tpd_si_scales_by_age](#tpd_si_scales_by_age)



#### _Table 9_
* [termination_rates](#termination_rates)
    * [age_rates](#age_rates)
    * [duration_of_claim_g_wp_oc](#duration_of_claim_g_wp_oc)
    * [smoker_status](#smoker_status)
    * [benefit_type](#benefit_type)
    * [policy_duration_factor](#policy_duration_factor)


#### _Table 10_
* [stress_margins](#stress_margins)
    * [random](#random)
        * random_all
        * death
        * death_ibnr
        * death_rbna
        * tpd
        * tpd_ibnr
        * tpd_rbna
        * ip
        * ip_dlr
        * ip_ibnr
        * ip_rbna
    * [future](#future)
        * future_all
        * death
        * death_ibnr
        * death_rbna
        * tpd
        * tpd_ibnr
        * tpd_rbna
        * ip
        * ip_dlr
        * ip_ibnr
        * ip_rbna
    * [time_to_react_future](#time_to_react_future)
    * [event_pandemic_death](#event_pandemic_death)
    * [event_pandemic_tpd](#event_pandemic_tpd)
    * [event_pandemic_ip](#event_pandemic_ip)
    * [prop_disabled_after_wp](#random)
    * [lapse_stress](#lapse_stress)
    * [servicing_expense_stress](#servicing_expense_stress)

#### _Table 11_
* [reinsurance](#reinsurance)
* [catastrophe_pl](#catastrophe_pl)
* [catastrophe_capital](#catastrophe_capital)

#### _Table 12_
* [par_loadings](#par_loadings)
* [stamp_duty](#stamp_duty)
* [investment_earnings_b0](#investment_earnings_b0)

#### _Table 13_
* [contingency_margin_start](#contingency_margin_start)
* [contingency_margin](#contingency_margin)

#### _Table 14_
* [notification_delay](#notification_delay)

#### _Table 15_
* [cmm_impact_termination_rates_start](#cmm_impact_termination_rates_start)
* [cmm_impact_termination_rates_perc](#cmm_impact_termination_rates_perc)

#### _Table 16_
* [covid19_impact_termination_rates](#covid19_impact_termination_rates)

#### _Table 17_
* [covid19_adjustment_ip_dlr](#covid19_adjustment_ip_dlr)

#### _Table 18_
* [expected_lr_combined_capital](#expected_lr_combined_capital)

#### _Table 19_
* [gov_tpd_linked_to_ip](#gov_tpd_linked_to_ip)
* [tpd_linked_reporting_delay](#tpd_linked_reporting_delay)
* [conversion_rates](#conversion_rates)

#### _Table 20_
* [claims_reporting_delay_tpd_ip](#claims_reporting_delay_tpd_ip)
* [claims_delay_factors_tpd_ip](#claims_delay_factors_tpd_ip)

#### _Table 21_
* [missing_subcase_reserve](#missing_subcase_reserve)

#### _Forward Rates_

___

In [6]:
import os
os.chdir(r"C:\Users\adamw\Documents\GitHub\Q")
path = r"C:\Users\adamw\Documents\SVA replica.xlsx"
from sva import sva
# # Initialise with path and sheetname
sva = sva(path=path, sheet_name='NewProduct')

___
# 1
### claims_reporting_delay

In [8]:
sva.claims_reporting_delay().head(10).style.format('{:,.2%}')

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

### claim_delay_factors

In [3]:
sva.claim_delay_factors().head(10).style.format('{:,.2%}')

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

___
# 2
### claims_expense_reserve

In [4]:
sva.claims_expense_reserve().style.format('{:,.2%}')

### operating_expense_perc_premium

In [5]:
sva.operating_expense_perc_premium().style.format('{:,.2%}')

### budgeted_trustee_expense

In [6]:
sva.budgeted_trustee_expense().style.format('{:,}')

### projected_trustee_expense

In [7]:
sva.projected_trustee_expense().style.format('{:,.2%}')

___
# 3
### ip_continuance_rates

In [8]:
sva.ip_continuance_rates().head(10).style.format('{:,.2%}')

### dlr_parameters

#### salary_replacement_ratio

In [9]:
sva.dlr_parameters.salary_replacement_ratio().style.format('{:,.2%}')

#### continuing_retirement_benefit

In [10]:
sva.dlr_parameters.continuing_retirement_benefit().style.format('{:,.2%}')

#### assumed_avg_age_at_disability

In [11]:
sva.dlr_parameters.assumed_avg_age_at_disability().style.format('{:,}')

#### payment_ratio

In [12]:
sva.dlr_parameters.payment_ratio().style.format('{:,.2%}')

#### reopened_claims_reserves_loading

In [13]:
sva.dlr_parameters.reopened_claims_reserves_loading().style.format('{:,.2%}')

#### benefit_indexation_month

In [14]:
sva.dlr_parameters.benefit_indexation_month().style.format('{:,}')

### ip_ibnr_adjustment

In [15]:
sva.ip_ibnr_adjustment().style.format('{:,}')

___
# 4
### appeals_reserve_assumptions

In [16]:
sva.appeals_reserve_assumptions().style.format('{:,.2%}')

### perc_of_appealed_claims_accepted

In [17]:
sva.perc_of_appealed_claims_accepted().style.format('{:,.2%}')

___
# 5
### decline_rate

In [18]:
sva.decline_rate().style.format('{:,.2%}')

### decline_rate_delay

In [19]:
sva.decline_rate_delay().style.format('{:,.2%}')

### simultaneous_ip_tpd_decline

In [20]:
sva.simultaneous_ip_tpd_decline()#.style.format('{:,.2%}')

          WP  IP decline
Govcode
Gov       30        0.06
Gov       60        0.06
Gov       90        0.15
Gov      180        0.15
Nongov    30        0.06
Nongov    60        0.06
Nongov    90        0.15
Nongov   180        0.15

___
# 6
### expected_loss_ratio_gov

In [21]:
sva.expected_loss_ratio_gov().fillna(0).head(10).style.format('{:,.2%}')

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

### expected_loss_ratio_nongov

In [22]:
sva.expected_loss_ratio_nongov().fillna(0).head(10).style.format('{:,.2%}')

___
# 7
### payment_delay_factors

In [23]:
sva.payment_delay_factors().head(10).style.format('{:,.2%}')

### payment_delay_factors_discrete

In [24]:
sva.payment_delay_factors_discrete().head(10).style.format('{:,.2%}')

___
# 8
### average_claim_size

In [25]:
sva.average_claim_size().style.format('{:,}')

### acs_ip_linked_tpd

In [26]:
sva.acs_ip_linked_tpd().style.format('{:,}')

### acs_by_notification_delay_q

In [27]:
sva.acs_by_notification_delay_q().head(10).style.format('{:,}')

### perc_si_at_ip_doe

In [28]:
sva.perc_si_at_ip_doe().style.format('{:,.2%}')

### tpd_si_scales_by_age

In [29]:
sva.tpd_si_scales_by_age().head(10).round(2).style.format('{:,}')

___
# 9 
### termination_rates

#### age_rates

In [30]:
sva.termination_rates.age_rates().head(10).style.format('{:,.2%}')

#### duration_of_claim_g_wp_oc

In [31]:
sva.termination_rates.duration_of_claim_g_wp_oc().head(10).style.format('{:,.2%}')

#### smoker_status

In [32]:
sva.termination_rates.smoker_status().style.format('{:,.2%}')

#### benefit_type

In [33]:
sva.termination_rates.benefit_type().style.format('{:,.2%}')

#### policy_duration_factor

In [34]:
sva.termination_rates.policy_duration_factor().style.format('{:,.2%}')

___
# 10

### stress_margins

#### random

In [35]:
sva.stress_margins.random.random_all().style.format('{:,.2%}')

#### future

In [36]:
sva.stress_margins.future.future_all().style.format('{:,.2%}')

#### time_to_react_future

In [37]:
sva.stress_margins.time_to_react_future()

0.12

#### event_pandemic_death

In [38]:
sva.stress_margins.event_pandemic_death()

nan

#### event_pandemic_tpd

In [39]:
sva.stress_margins.event_pandemic_tpd()

nan

#### event_pandemic_ip

In [40]:
sva.stress_margins.event_pandemic_ip()

0.1

#### prop_disabled_after_wp

In [41]:
sva.stress_margins.prop_disabled_after_wp()

0.25

#### lapse_stress

In [42]:
sva.stress_margins.lapse_stress()

0.0

#### servicing_expense_stress

In [43]:
sva.stress_margins.servicing_expense_stress()

0.1

___
# 11
### reinsurance

In [44]:
sva.reinsurance()

,SI Limit,Reinsurance recoveries,Reinsurance Premium,Reinsurance Commission,Reinsurance Claims Percentage
Death,1000000,0.15,0.15,0.0281,0.15
TPD,1000000,0.15,0.15,0.0281,0.15
IP,10000,0.15,0.15,0.0300,0.15

### catastrophe_pl

In [45]:
sva.catastrophe_pl()

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

450000

### catastrophe_capital

In [46]:
sva.catastrophe_capital()

450000

___
# 12

### par_loadings

In [47]:
sva.par_loadings()

0.0675

### stamp_duty

In [48]:
sva.stamp_duty().style.format('{:,.2%}')

### investment_earnings_b0

In [49]:
sva.investment_earnings_b0()

0.0232

___
# 13
### contingency_margin_start

In [50]:
sva.contingency_margin_start()

Timestamp('2020-07-01 00:00:00')

### contingency_margin

In [51]:
sva.contingency_margin().style.format('{:,.2%}')

___
# 14
### notification_delay

In [52]:
sva.notification_delay()

   Death   TPD    IP
0   39.2  39.2  39.2

___
# 15
### cmm_impact_termination_rates_start

In [53]:
sva.cmm_impact_termination_rates_start()

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

Timestamp('2020-07-01 00:00:00')

### cmm_impact_termination_rates_perc

In [54]:
sva.cmm_impact_termination_rates_perc()

NaT

___
# 16
### covid19_impact_termination_rates

In [55]:
sva.covid19_impact_termination_rates()

                                                          Unnamed: 201
End Date                                           2021-07-01 00:00:00
Start Date                                         2020-05-01 00:00:00
% reduction in termination rate for closing                      0.164
% reduction in termination rate for opening                        NaN
% reduction in termination rate for inception DLR                  NaN

___
# 17 
### covid19_adjustment_ip_dlr

In [56]:
sva.covid19_adjustment_ip_dlr()

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

            DLR adjustment
Date
NaT                    NaN
2020-04-30           0.113
2020-05-31           0.113
2020-06-30           0.113
2020-07-31             NaN
2020-08-31             NaN
2020-09-30             NaN
2020-10-31             NaN
2020-11-30             NaN
2020-12-31             NaN
2021-01-31             NaN
2021-02-28             NaN
2021-03-31             NaN
2021-04-30             NaN
2021-05-31             NaN
2021-06-30             NaN

___
# 18
### expected_lr_combined_capital

In [57]:
sva.expected_lr_combined_capital().tail(10).fillna(0).style.format('{:,.2%}')

C:\Users\adamw\Documents\GitHub\Q\sva.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  table.columns = table.columns.str.replace(r'\.\d+$', '')

___ 
# 19
### gov_tpd_linked_to_ip

In [58]:
sva.gov_tpd_linked_to_ip().fillna(0).style.format('{:,.2%}')

### tpd_linked_reporting_delay

In [59]:
sva.tpd_linked_reporting_delay().head(10).style.format('{:,.2%}')

### conversion_rates

In [60]:
sva.conversion_rates().style.format('{:,.2%}')

___
# 20 
### claims_reporting_delay_tpd_ip

In [61]:
sva.claims_reporting_delay_tpd_ip().head(10).style.format('{:,.2%}')

### claims_delay_factors_tpd_ip

In [62]:
sva.claims_delay_factors_tpd_ip().head(10).style.format('{:,.2%}')

___
# 21 
### missing_subcase_reserve

In [63]:
sva.missing_subcase_reserve()

         NonLinked
Product
Death          NaN
TPD      2000000.0
IP       1000000.0